.hero{
    background-color: rgba(8, 8, 8, 0.205);
    color: #fff;
    height: 80vh;
    width: 100%;
    position: relative;
    margin-bottom: 4rem;
}
.hero:before{
    content: '';
    background: url('../../assets/home.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

.hero .content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 700px;
    margin: auto;
    padding: 1rem;
}
.hero h1{
    font-size: 3rem;
    text-transform: capitalize;
}
.hero h1 span{
    display: inline-block;
    margin: 1rem;
    font-size: 2rem;
    color: rgb(231, 233, 110);
    
}
.hero .search-text{
    margin: 1.5rem;
    font-size: 1.4rem;
    
}
.search {
    display: flex;
    background-color: #fff;
    color: #333;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 4px;
   
    border-radius: 8px;
}
.search input[type=text]{
    border: transparent;
    background-color: transparent;
    width: 400px;
    font-size: 1.2rem;
    font-family: 'Raleway',sans-serif;
    padding-left: 10px;
}
.search input[type=text]:focus{
    outline: none;
}
.search label{
    padding: 0 14px 0 8px;
}
.search .radio{
    display: flex;
    align-items: center;
}

.search .submit {
    background-image: linear-gradient(45deg, rgb(228, 194, 0) 0%, rgb(231, 233, 110) 100%);
    border: 0.5px solid black;
    color: black;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
}



@media screen and ( max-width: 940px){
    .hero {
        height: 70vh;
    }
    .hero h1 {
        font-size: 2.5rem;
    }
    .search input[type=text]{
        width: 100%;
    }
}
@media screen and ( max-width: 768px){
    .hero h1{
        margin-top: 4rem;
        font-size: 1.7rem;
        padding-bottom: 0;
    }
    .hero h1 span{
        padding-bottom: 1rem;
        font-size: 1rem;
    }
    .hero .search-text{
        font-size: 1.2rem;
    }
   
}
@media screen and ( max-width: 460px){
    .hero h1{
        margin-top: 3rem;
        font-size: 1.5rem;
        padding-bottom: 0;
    }
    .hero h1 span{
        padding-bottom: 1rem;
        margin: 0;
    }
    .hero .search-text{
        font-size: 1.2rem;
    }
   
}
